*{
    padding: 0;    
    margin: 0;    
    box-sizing: border-box;    
    font-family: sans-serif;
    
}


header{
    display: flex;
    height: 70px;
    background-color: rgb(155, 47, 177);
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
   height: 50px;
   margin-right: 10px; 
}
    
@import url(https://fonts.googleapis.com/css?family=Raleway|Reenie+Beanie);

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0.2px;
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;

}body {
	
	min-height: 45rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: left;
	padding-left: 10px;
	background-color: rgb(220, 170, 248);
}
.container {
	min-width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right:2px;
	margin-left:2px;
}
/* Basic appearance stuff ends here */

/* Parallax Horizontal Scroller - by Bree Dulmage, 2020 */
#proparallax {
	display: block;
    width: 1000px;
    height: 450px;
	position: relative;
	overflow: hidden;
	border: 10px solid black;
	box-shadow: 0px 8px 10px 8px grey;
	margin-right:auto;
	margin-left:auto;
}	

#proparallax img {    
    width: 100%;
	position: absolute;
	height: 100%;
	overflow: hidden;
	object-fit: cover;
	margin-right:2px;
	margin-left:2px;
}

@keyframes parallax_one { /* controls img.one movement */
	0% { /* .imageloaded */
		height: 37.5rem;
		width: 50rem;
		left: 0rem;
		opacity: 1;
	}
	/* .imagehold runs from 0 to 27.77% */
	27.77% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	27.78% { /* .imagepreunload */
		width: 50rem;
		left: 0rem;
		right: 50rem;
	}
	33.33% { /* .imageunloaded */
		height: 37.5rem;
		width: 0rem;
		left: 0rem;
		right: 0rem;
		opacity: 1;
	}
	33.34% { /* imageoff */
		opacity: 0;	
	}
	94.43% { /* .imageon */
		left: 0rem;
		opacity: 0;
	}
	94.44% { /* .imageinitial */
		height: 37.5rem;
		width: 0rem;
		left: 50rem;
		opacity: 1;
	}
	100% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
		opacity: 1;		
	}
}

@keyframes parallax_two { /* controls img.two movement */
	0% { /* .imageoff */
		opacity: 0;
	}
	27.77% { /* .imageon */
		left: 0rem;
		opacity: 0;
	}
	27.78% { /* .imageinitial */
		width: 0rem;
		height: 37.5rem;
		left: 50rem;
		opacity: 1;
	}
	33.33% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	/* .imagehold runs from 33.34% - 61.10% */
	61.10%{ /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	61.11% { /* .imagepreunload */
		width: 50rem;
		left: 0rem;
		right: 50rem;
	}
	66.67% { /* .imageunloaded */
		width: 0rem;
		right: 0rem;
		left: 0rem;
		height: 37.5rem;
		opacity: 1;
	}
	66.68% { /* .imageoff */
		opacity: 0;
	}
	100% { /* .imageoff */
		opacity: 0;
	}
}

@keyframes parallax_three { /* controls img.three movement */
	0% { /* .imageoff */
		opacity: 0;
	}
	61.10%{ /* .imageon */
		opacity: 0;
	}
	61.11% { /* .imageinitial */
		width: 0rem;
		height: 37.5rem;
		left: 50rem;
		opacity: 1;		
	}
	66.67% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	/* .imagehold runs from 66.67% - 94.43% */
	94.43% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	94.44% { /* .imagepreunload */
		width: 50rem;
		left: 0rem;
		right: 50rem;
	}
	100% { /* imageunloaded */
		width: 0rem;
		right: 0rem;
		left: 0rem;
		height: 37.5rem;
		opacity: 1;
	}
}

#proparallax img.one{
	animation-name: parallax_one; /* controls img.one movement */
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 18s;
	animation-direction: forwards;
	object-fit: cover;
}

#proparallax img.two {
	animation-name: parallax_two;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 18s;
	animation-direction: forwards;
	object-fit: cover;
}

#proparallax img.three {
	animation-name: parallax_three; 
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 18s;
	animation-direction: forwards;
	object-fit: cover;
}
img {
    width: 100%;
  }
  
  a {
    color: black;
  }
  
  button{
    background-color:rgb(220, 170, 248);
    border-radius: 7px;
    border-color:rgb(220, 170, 258); 
  
  }
  
  .caption,
  h1,
  .date {
    margin: 0;
    text-align: center;
  }
  
  .caption,
  h1 {
    font-family: "Reenie Beanie", sans-serif;
    font-size: 2em;
    padding: 10px 10px 0 10px;
  }
  
  .date {
    font-size: 0.75em;
  }
  
  .description {
    font-size: 0.9em;
    padding: 0 20px 20px 20px;
    text-align: left;
  }
  
  .container {
    perspective: 1000px;
    display: inline-block;
    margin: 3%;
  }
  
  .container:hover .flipper {
    transform: rotateY(180deg);
  }
  
  .container,
  .front,
  .back {
    width: 260px;
    height: 410px;
  }
  
  .flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .front {
    z-index: 2;
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
  #content {
    text-align: center;
  }
  .navlink{
    text-decoration: none;
    
  }